/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* base styles */
* {
  margin: 10px;
  background-color: black;
  color: white;
  /* font-family: "Quicksand";
  color: #333; */

}
/* navigation bar */
/* .navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
} */

.navbar a {

  text-decoration: none;
  color: white;
}
.navbar a:hover {
  color: aqua;
}

/* .content {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
} */

.contact-card,.bird-info{
  box-shadow: 1px 1px 1px 1px #888888;
  padding: 30px;
  border-radius: 10px;
  /* background-color: rgb(149, 177, 177); */

}

.bird-list a,.card-body a{
    text-decoration: none;
    color: white;
}
/* blog details page */
.description {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .bird-details div {
    margin: 20px 0;
  }
  .bird-details button {
    background: #0cac21;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }

